.nav-container {
    min-height: 10vh;
    a {
        &:hover {
            color: #182153;
            text-decoration: none;
        }
    }

    button {
        border: none;

        &:focus {
            outline: none;
        }
    }

    .headerMenu {
        display: block;
        height: 0;
        width: 100%;
        background-color: #e6e6e6;
        transition: 240ms ease height;
        font-size: 1rem;

        li {
            opacity: 0;
        }
    }

    .openMenu {
        height: 30vh;
    }
}

.homeColor {
    background-color: #f1f1f1;
    a, h4 {
        color: #182153;
    }
}

.gitColor {
    background-color: #182153;
    a, h4 {
        color: #f1f1f1;
    }

    .headerMenu {
        background-color: #131238;
    }

    button {
        background-color: #182153;

        span {
            background: #f1f1f1 !important;
        }
    }

    a:hover {
        color: #fff;
    }
}


//HAMBURGER ICON
#nav-icon1 {
    margin: 0;
    padding: 0;
    width: 2.5rem;
    height: 2rem;
    position: relative;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 * {
    margin: 0;
    padding: 0; 
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #182153;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 5px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 31px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

//DROPDOWN
.menu-container {
    @for $i from 1 through 4 {
        .menu-item-#{$i} {
            transform-origin: top center;
            animation: scaleZ 240ms #{$i * 60ms} ease-in-out forwards;
        }
    }
}

@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


//S
@media only screen and (max-width: 992px) {
    nav {
        position: fixed !important;
        top: 0;
        z-index: 6;
        width: 100%;
    }
}