.personalContainer {
    background-color:#f1f1f1;
}

.socialDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(24,33,83);
    color: #ffffff;
    box-sizing: border-box;
    z-index: 8;

    .socialCol {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(24,33,83);
        height: 8vh;
     
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            
            li {
                font-size: 2.1rem;
                padding: .2rem 1.8rem;
    
                a {
                    text-decoration: none;
                    cursor: pointer;

                    path {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }    
}

.personalDiv {
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem !important;
    background-color:#f1f1f1;
    justify-content: center;
    align-items: center;
    color: #182153;

    h3 {
        font-weight: 400;
        margin-bottom: .5rem;
        text-align: center;
        font-size: 1.6rem;
    }

    p {
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.6rem;
    }
}

@media (min-width: 1750px) {
    .personalContainer {    
      .socialDiv {
        .socialCol {
        flex: 0 0 133.333334%;
        max-width: 133.333334%;
      }
    }

    .personalDiv {
        padding: 9rem 2rem !important;
    }
  }
}

//XS
@media only screen and (max-width: 570px) {
    .socialDiv {
        min-height: 7vh;
        .socialCol {
            ul {            
                li {
                    font-size: 1.9rem;
                    padding: .1rem 1.4rem;
                }
            }
        }
    }
    
    .personalDiv {
        padding: 3rem 2rem !important;
    
        h3 {
            font-size: 1.3rem;
        }
    
        p {
            font-size: 1rem;
            line-height: 1.9rem;    
        }
    }
}    

//L
@media only screen and (min-width: 992px) {
    .socialDiv {
        .socialCol { 
            ul {            
                li {
                    font-size: 1.9rem;
                    padding: .1rem 1.4rem;
                }
            }
        }
    }

    .personalDiv {
        width: 60%;
        margin: auto;
        padding: 5rem 5rem !important;
    
        h3 {
            font-size: 1.6rem;
        }
    
        p {
            font-size: 1.2rem;
        }
    }
}    

//XL
@media only screen and (min-width: 1200px) {
    .socialDiv {
        height: 8vh;    
        .socialCol {
            ul {            
                li {
                    font-size: 2.2rem;
                    padding: .1rem 1.9rem;
                }
            }
        }
    }

    .personalDiv {
        width: 40%;
        padding: 7rem 5rem;
    
        h3 {
            font-size: 2.1rem;
        }
    
        p {
            font-size: 1.5rem;
            line-height: 2.6rem;
        }
    }
}