.profileBg {
    width: 100%;
    height: 88vh;
    background-image: url(./../../assets/iphone-notebook-pen-working-34088.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    box-sizing: border-box;

    .filter {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(24, 33, 83, 0.568);
        align-items: center;
        justify-content: center;

        .profileInfo {
            display: flex;
            flex-direction: column;
            width: 298px;
            height: 95%;

            .profilePicture {
                width: 100%;
                min-height: 250px;
                height: 50%;
                background-image: url(./../../assets/adult-attractive-beautiful-beauty-415829.webp);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-origin: content-box;
                box-sizing: border-box;
            }

            .profileData {
                padding: 1rem 3rem;
                color: #182153;
                background-color: #f1f1f1;

                h2 {
                    margin: 0;
                    font-weight: 400;
                }

                h4 {
                    margin-top: .2rem;
                    margin-bottom: 1rem;
                    font-weight: 700;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    font-size: 15px;

                    .itemTitle {
                        font-weight: 600;
                    }

                    .itemText {
                        font-weight: 200;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

//XS
@media only screen and (max-width: 320px) {
    .profileBg {
        .filter {
            .profileInfo {
                width: 240px;

                .profileData {
                    padding: 1rem 2rem;
    
                    h2 {
                        font-size: 1.4rem;
                    }
    
                    h4 {
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }                
}

//XS
@media only screen and (max-height: 660px) {
    .profileBg {    
        .filter {    
            .profileInfo {    
                .profilePicture {
                    width: 100%;
                    min-height: 200px;
                    height: 40%;
                }
    
                .profileData {
                    padding: .5rem 3rem;
                    margin: auto;
                    color: #182153;
    
                    h2 {
                        font-size: 21px;
                    }
    
                    h4 {
                        font-size: 17px;
                        margin-bottom: .8rem;
                        text-align: center;
                    }
    
                    ul {
                        font-size: 14px;
    
                        .itemText {
                            margin-bottom: .8rem;
                        }
                    }
                }
            }
        }
    }
}    

//L
@media only screen and (min-width: 800px) {
    .profileBg {
        .filter {
            align-items: flex-end;

            .profileInfo {
                flex-direction: row;
                width: 80%;
                height: 84%;
                min-height: 300px;
    
                .profilePicture {
                    width: 50%;
                    height: 100%;
                }

                .profileData {
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 2rem;
                    width: 50%;
                    min-height: 400px;
                    height: 100%;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: flex-start;
                    padding-left: 6rem;

                    h2 {
                        font-size: 1.8rem;
                    }
    
                    h4 {
                        font-size: 1.2rem;
                    }
    
                    ul {
                        font-size: 18px;
                    }    
                }    
            }
        }
    }                   
}

//XL
@media only screen and (min-width: 1400px) {
    .profileBg {
        .filter {
            .profileInfo {
                .profileData {
                    padding-left: 4rem;

                    h2 {
                        font-size: 2.6rem;
                    }
    
                    h4 {
                        font-size: 1.6rem;
                        margin-bottom: 2rem;
                    }
    
                    ul {
                        font-size: 1.5rem;

                        .itemText {
                            margin-bottom: 1.5rem;
                        }
                    }    
                }    
            }
        }
    }
}