.profileBg {
  min-height: 90vh;
  background-image: url(./../../assets/iphone-notebook-pen-working-34088.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box;

  @keyframes showPic {
    0% {
      display: flex;
      opacity: 0;
      transform: translateX(-150px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes hidePic {
    0% {
      opacity: 1;
      display: flex;
      transform: translateX(0);
    }

    99% {
      opacity: .1;
      transform: translateX(-149px);
    }

    100% {
      opacity: 0;
      display: none;
      transform: translateX(-150px);
    }
  }

  @keyframes showData {
    0% {
      display: flex;
      opacity: 0;
      transform: translateX(150px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes hideData {
    0% {
      opacity: 1;
      display: flex;
      transform: translateX(0);
    }

    99% {
      opacity: .1;
      transform: translateX(149px);
    }

    100% {
      opacity: 0;
      display: none;
      transform: translateX(150px);
    }
  }

  .hideDataAnimation {
    animation: .7s hideData forwards;
  }

  .showDataAnimation {
    animation: .7s showData forwards;
  }

  .hidePicAnimation {
    animation: .7s hidePic forwards;
  }

  .showPicAnimation {
    animation: .7s showPic forwards;
  }

  .profileData {
    color: #182153;
    background-color: #f1f1f1;

    h2 {
      text-align: left;
      margin: 0;
      font-weight: 400;
    }

    h4 {
      margin-top: 0.2rem;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 15px;

      .itemTitle {
        font-weight: 600;
      }

      .itemText {
        font-weight: 200;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 576px) { 
  .profileData {
    h2 {
      font-size: 1.7rem;
    }

    h4 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 992px) { 
  .profileBg {
    min-height: 100vh;
  }
}

@media (max-width: 992px) { 
  .profileBg {
    background-attachment: scroll;
  }
}

@media (min-width: 1750px) {
  .profileBg {
    .profilePicture,
    .profileData {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
  }
}